@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');
:root {
    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #806aff; 
    --secondary-text-clr: #a1a1b8;
}
*margin{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Bitcount Single', monospace;
    line-height: 1.5rem;
}
body{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: grid;
  grid-template-columns: auto 1fr;
}
#sidebar{
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);

  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out; /*smooth transition for closing*/
  overflow: hidden;
  text-wrap: nowrap;
}
#sidebar.close{
    width: 80px;
    padding: 5px 1em;
}
#sidebar.close span {
    display: none;
}
#sidebar.close svg {
    margin-right: 0;
}
#sidebar.close a{
    justify-content: center;
}
#sidebar.close .logo {
    display: none;
}
#sidebar ul{
  list-style: none;
}
#sidebar ul li.active a{
    color: var(--accent-clr);

    svg{
        fill: var(--accent-clr);
    }
}
#sidebar > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
    .logo {
        font-weight: 600;
    }
}
#sidebar a, #sidebar .logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-clr);
    padding: 0.85em;
    border-radius: 0.5em;
    white-space: nowrap; /* Prevents text from wrapping when collapsing */
}
#sidebar svg{
    flex-shrink: 0;
    fill: var(--text-clr);
    margin-right: 10px;
}
#sidebar a span{
    flex-grow: 1;
}
#sidebar a:hover {
    background-color: var(--hover-clr);
}
/* Hide text labels when sidebar is closed */
/* #sidebar.close span {
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
} */
#sidebar_toggle {
    margin-left: auto;
    background: none;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    padding: 1em;
}

main{
    padding: min(30px, 7%);
}
main p{
  color: var(--secondary-text-clr);
  margin-top: 5px;
  margin-bottom: 15px;
}

