@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');
:root {
    --base-clr: #11121a;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #806aff; 
    --secondary-text-clr: #a1a1b8;
}
*margin{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Bitcount Single', monospace;
    line-height: 1.5rem;
}
body{
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-clr);
  color: var(--text-clr);
  display: grid;
  grid-template-columns: auto 1fr;
}
#sidebar{
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);

  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out; /*smooth transition for closing*/
  overflow: hidden;
  text-wrap: nowrap;
}
#sidebar.close{
    width: 80px;
    padding: 5px 1em;
}
#sidebar.close span {
    display: none;
}
#sidebar.close svg {
    margin-right: 0;
}
#sidebar.close a{
    justify-content: center;
    padding: 0.85em 0;
}
#sidebar.close .logo {
    display: none;
}
#sidebar ul{
  list-style: none;
}
#sidebar ul li.active a{
    color: var(--accent-clr);

    svg{
        fill: var(--accent-clr);
    }
}
#sidebar > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
    .logo {
        font-weight: 600;
    }
}
#sidebar a, #sidebar .logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-clr);
    padding: 0.85em;
    border-radius: 0.5em;
    white-space: nowrap; /* Prevents text from wrapping when collapsing */
}
#sidebar svg{
    flex-shrink: 0;
    fill: var(--text-clr);
    margin-right: 10px;
}
#sidebar a span{
    flex-grow: 1;
}
#sidebar a:hover {
    background-color: var(--hover-clr);
}
#sidebar_toggle {
    margin-left: auto;
    background: none;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    padding: 1em;
}

main{
    padding: min(30px, 7%);
}
main p{
  color: var(--secondary-text-clr);
  margin-top: 5px;
  margin-bottom: 15px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* height: 100vh; */
    width: 100%;
}
.project_item{
    width: 325px;
    background-color: var(--line-clr);
    border-radius: 8px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.project_item:hover{
    background-color: var(--hover-clr);
    width: 335px;
    transition: width 0.3s ease; /* Smooth transition for width change */
}
.project_item img{
    width: 100%;
    height: 200px;
    object-fit: cover; /* cover ensures the image covers the entire container, maintains its aspect ratio, and does not exceed container dimentions */
}
.project_item .content{
    padding: 15px;
}
.project_item .content h3{
    margin-top: auto;
    margin-bottom: 5px;
}